@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-family: 'Lato', sans-serif;
}

header {
  margin: 4% 0 3% 0;
  text-align: center;
}

header h1 {
  margin: 0 0 3% 0;
}

body {
  background: url("https://homebnc.com/homeimg/2015/12/02-game-library-video-game-room-idea-homebnc.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.table {
  background-color: black;
  opacity: 90%;
  color: aliceblue;
}